.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}
.form{
    width:300px;
 display: flex;
 flex-direction: column;
 gap:20px;
}
.input{
 background-color: transparent;
 padding: 10px;   
 color:#bbb;
 border:2px solid #bbb;
 border-radius: 5px;
 font-size: 18px;
 font-weight: bold;
}
.btn{
    width: 300px;
    padding: 10px;
    cursor: pointer;
   background-color: #53c28b;
   border: none;
   border-radius: 5px;
   color: #eee;
   font-weight: bold;
   font-size: 18px;

}